body{
font-family: Arial;
background:#f4f4f4;
margin:0;
}

header{
background:#111;
color:white;
text-align:center;
padding:20px;
}

.cars{
display:flex;
justify-content:center;
gap:30px;
margin-top:40px;
}

.car{
background:white;
padding:15px;
border-radius:10px;
box-shadow:0 0 10px rgba(0,0,0,0.2);
text-align:center;
width:250px;
}

.car img{
width:100%;
border-radius:10px;
}

button{
background:#007BFF;
color:white;
border:none;
padding:10px 15px;
margin-top:10px;
cursor:pointer;
border-radius:5px;
}

button:hover{
background:#0056b3;
}
